.Header_main{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    /* border: 1px solid black; */
}
.header_second_main{
    width: 80%;
    align-self: center;
    justify-content: space-between;

    display: flex;

}
.logo_div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
}
.a{
    font-size: 34px;
    margin: 0px 10px 0px 0px;
    font-weight: 700;
}
.studio{
    font-size: 34px;
    text-transform: capitalize;
    font-weight: 300;

}

.navbar_div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.navbar_ul{
    display: flex;
    justify-content: space-between;
    width: 100%;

}
.navbar_li{
    display: block;
    font-weight: 600;
}